In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

In [3]:
df=pd.read_csv("set_02_data.csv")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,6682-VCIXC,Female,0,Yes,Yes,43,No,No phone service,DSL,Yes,...,No,Yes,Yes,No,One year,Yes,Bank transfer (automatic),51.25,2151.60,No
1,2486-WYVVE,Male,0,Yes,No,31,Yes,Yes,DSL,No,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,79.30,2484.00,No
2,4554-YGZIH,Male,1,Yes,No,49,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Credit card (automatic),90.05,4547.25,Yes
3,5405-ZMYXQ,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),74.60,548.90,No
4,5032-MIYKT,Female,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,70.70,70.70,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6460,0013-MHZWF,Female,0,No,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,No
6461,7654-YWJUF,Male,0,Yes,No,43,Yes,No,Fiber optic,Yes,...,Yes,Yes,No,No,One year,Yes,Bank transfer (automatic),84.25,3539.25,No
6462,7643-RCHXS,Female,0,Yes,Yes,63,Yes,No,No,No internet service,...,Yes,Yes,No internet service,No internet service,Two year,No,Electronic check,19.35,1263.85,No
6463,1228-ZLNBX,Male,0,No,No,21,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Mailed check,75.30,1570.70,No
6464,7136-RVDTZ,Male,1,No,No,70,No,No phone service,DSL,No,...,No,No,Yes,Yes,One year,Yes,Electronic check,45.25,3264.45,Yes

In [5]:
#1번

In [7]:
df_q1=df.copy()
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,6682-VCIXC,Female,0,Yes,Yes,43,No,No phone service,DSL,Yes,...,No,Yes,Yes,No,One year,Yes,Bank transfer (automatic),51.25,2151.60,No
1,2486-WYVVE,Male,0,Yes,No,31,Yes,Yes,DSL,No,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,79.30,2484.00,No
2,4554-YGZIH,Male,1,Yes,No,49,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Credit card (automatic),90.05,4547.25,Yes
3,5405-ZMYXQ,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),74.60,548.90,No
4,5032-MIYKT,Female,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,70.70,70.70,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6460,0013-MHZWF,Female,0,No,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,No
6461,7654-YWJUF,Male,0,Yes,No,43,Yes,No,Fiber optic,Yes,...,Yes,Yes,No,No,One year,Yes,Bank transfer (automatic),84.25,3539.25,No
6462,7643-RCHXS,Female,0,Yes,Yes,63,Yes,No,No,No internet service,...,Yes,Yes,No internet service,No internet service,Two year,No,Electronic check,19.35,1263.85,No
6463,1228-ZLNBX,Male,0,No,No,21,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Mailed check,75.30,1570.70,No
6464,7136-RVDTZ,Male,1,No,No,70,No,No phone service,DSL,No,...,No,No,Yes,Yes,One year,Yes,Electronic check,45.25,3264.45,Yes

In [15]:
df_q1=df_q1.loc[(df_q1["SeniorCitizen"]==0)&(df_q1["gender"]=="Male")]
df_q1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2699 entries, 1 to 6463
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2699 non-null   object
 1   gender            2699 non-null   object
 2   SeniorCitizen     2699 non-null   int64
 3   Partner           2699 non-null   object
 4   Dependents        2699 non-null   object
 5   tenure            2699 non-null   int64
 6   PhoneService      2699 non-null   object
 7   MultipleLines     2699 non-null   object
 8   InternetService   2699 non-null   object
 9   OnlineSecurity    2699 non-null   object
 10  OnlineBackup      2699 non-null   object
 11  DeviceProtection  2699 non-null   object
 12  TechSupport       2699 non-null   object
 13  StreamingTV       2699 non-null   object
 14  StreamingMovies   2699 non-null   object
 15  Contract          2699 non-null   object
 16  PaperlessBilling  2699 non-null   object
 17  PaymentMethod     2699 non-null   object
 18  MonthlyCharges    2699 non-null   float64
 19  TotalCharges      2699 non-null   float64
 20  Churn             2699 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 463.9+ KB

In [19]:
df_q1["OnlineSecurity"].unique()
df_q1=df_q1.loc[(df_q1["OnlineSecurity"]=="Yes")|(df_q1["OnlineSecurity"]=="No")]
df_q1

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1,2486-WYVVE,Male,0,Yes,No,31,Yes,Yes,DSL,No,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,79.30,2484.00,No
6,9609-BENEA,Male,0,Yes,No,35,Yes,Yes,DSL,No,...,No,Yes,Yes,No,One year,Yes,Electronic check,69.00,2441.70,No
11,1024-VRZHF,Male,0,Yes,No,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.95,825.70,Yes
12,6305-YLBMM,Male,0,No,No,69,Yes,No,Fiber optic,No,...,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),104.05,7262.00,Yes
14,3174-RKMOW,Male,0,Yes,Yes,35,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,109.95,3782.40,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6455,0513-RBGPE,Male,0,Yes,Yes,37,Yes,Yes,DSL,Yes,...,Yes,Yes,No,No,Two year,Yes,Credit card (automatic),62.80,2278.75,No
6458,7244-QWYHG,Male,0,Yes,No,50,No,No phone service,DSL,Yes,...,No,Yes,Yes,No,One year,Yes,Bank transfer (automatic),44.45,2188.45,No
6459,2252-NKNSI,Male,0,No,Yes,52,Yes,Yes,DSL,Yes,...,No,Yes,Yes,Yes,Two year,Yes,Mailed check,85.15,4461.85,No
6461,7654-YWJUF,Male,0,Yes,No,43,Yes,No,Fiber optic,Yes,...,Yes,Yes,No,No,One year,Yes,Bank transfer (automatic),84.25,3539.25,No
6463,1228-ZLNBX,Male,0,No,No,21,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Mailed check,75.30,1570.70,No

In [39]:
df_q1_re=pd.DataFrame()
df_q1_re["OnlineSecurity"]=df_q1["OnlineSecurity"].replace({"Yes":1, "No":0})
df_q1_re["OnlineBackup"]=df_q1["OnlineBackup"].replace({"Yes":1, "No":0})
df_q1_re["DeviceProtection"]=df_q1["DeviceProtection"].replace({"Yes":1, "No":0})
df_q1_re["TechSupport"]=df_q1["TechSupport"].replace({"Yes":1, "No":0})
df_q1_re["StreamingTV"]=df_q1["StreamingTV"].replace({"Yes":1, "No":0})
df_q1_re["StreamingMovies"]=df_q1["StreamingMovies"].replace({"Yes":1, "No":0})
df_q1_re

/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/3364250484.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q1_re["OnlineSecurity"]=df_q1["OnlineSecurity"].replace({"Yes":1, "No":0})
/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/3364250484.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q1_re["OnlineBackup"]=df_q1["OnlineBackup"].replace({"Yes":1, "No":0})
/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/3364250484.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q1_re["DeviceProtection"]=df_q1["DeviceProtection"].replace({"Yes":1, "No":0})
/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/3364250484.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q1_re["TechSupport"]=df_q1["TechSupport"].replace({"Yes":1, "No":0})
/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/3364250484.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q1_re["StreamingTV"]=df_q1["StreamingTV"].replace({"Yes":1, "No":0})
/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/3364250484.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q1_re["StreamingMovies"]=df_q1["StreamingMovies"].replace({"Yes":1, "No":0})

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
1,0,0,1,1,1,1
6,0,1,0,1,1,0
11,0,0,0,0,0,0
12,0,1,1,1,1,1
14,0,1,1,1,1,1
...,...,...,...,...,...,...
6455,1,0,1,1,0,0
6458,1,0,0,1,1,0
6459,1,1,0,1,1,1
6461,1,0,1,1,0,0
6463,0,0,0,0,0,0

In [45]:
df_q1_re["count"]=df_q1_re["OnlineSecurity"]+df_q1_re["OnlineBackup"]+df_q1_re["DeviceProtection"]+df_q1_re["TechSupport"]+df_q1_re["StreamingTV"]+df_q1_re["StreamingMovies"]
pd.Series(df_q1_re["count"]).value_counts()

count
3    463
2    409
1    388
4    352
0    275
5    227
6    118
Name: count, dtype: int64

In [47]:
388/118

3.288135593220339

In [49]:
3.28

3.28

In [52]:
#2번

In [56]:
df_q2=df.copy()
df_q2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,6682-VCIXC,Female,0,Yes,Yes,43,No,No phone service,DSL,Yes,...,No,Yes,Yes,No,One year,Yes,Bank transfer (automatic),51.25,2151.60,No
1,2486-WYVVE,Male,0,Yes,No,31,Yes,Yes,DSL,No,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,79.30,2484.00,No
2,4554-YGZIH,Male,1,Yes,No,49,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Credit card (automatic),90.05,4547.25,Yes
3,5405-ZMYXQ,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),74.60,548.90,No
4,5032-MIYKT,Female,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,70.70,70.70,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6460,0013-MHZWF,Female,0,No,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,No
6461,7654-YWJUF,Male,0,Yes,No,43,Yes,No,Fiber optic,Yes,...,Yes,Yes,No,No,One year,Yes,Bank transfer (automatic),84.25,3539.25,No
6462,7643-RCHXS,Female,0,Yes,Yes,63,Yes,No,No,No internet service,...,Yes,Yes,No internet service,No internet service,Two year,No,Electronic check,19.35,1263.85,No
6463,1228-ZLNBX,Male,0,No,No,21,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Mailed check,75.30,1570.70,No
6464,7136-RVDTZ,Male,1,No,No,70,No,No phone service,DSL,No,...,No,No,Yes,Yes,One year,Yes,Electronic check,45.25,3264.45,Yes

In [68]:
df_q2_sub=pd.DataFrame()
df_q2_sub["가입기간"]=df_q2["TotalCharges"]//df_q2["MonthlyCharges"]
df_q2_sub["tenure"]=df_q2["tenure"]
df_q2_sub["MonthlyCharges"]=df_q2["MonthlyCharges"]
df_q2_sub

      가입기간  tenure  MonthlyCharges
0     41.0      43           51.25
1     31.0      31           79.30
2     50.0      49           90.05
3      7.0       8           74.60
4      1.0       1           70.70
...    ...     ...             ...
6460   8.0       9           69.40
6461  42.0      43           84.25
6462  65.0      63           19.35
6463  20.0      21           75.30
6464  72.0      70           45.25

[6465 rows x 3 columns]

In [88]:
df_q2_sub["납부방법"]=np.where(df_q2["PaymentMethod"].str.contains("automatic"),1,0)
df_q2_sub_A=df_q2_sub.loc[df_q2_sub["납부방법"]==1]
df_q2_sub_B=df_q2_sub.loc[df_q2_sub["납부방법"]==0]

In [100]:
df_q2_sub_A.iloc[:,:-1].corr()

                    가입기간    tenure  MonthlyCharges
가입기간            1.000000  0.998502        0.260415
tenure          0.998502  1.000000        0.261264
MonthlyCharges  0.260415  0.261264        1.000000

In [102]:
df_q2_sub_B.iloc[:,:-1].corr()

                    가입기간    tenure  MonthlyCharges
가입기간            1.000000  0.998984        0.277898
tenure          0.998984  1.000000        0.278115
MonthlyCharges  0.277898  0.278115        1.000000

In [104]:
A=0.998502
B=0.998984
abs(A-B)

0.00048199999999998244

In [106]:
0.0005

0.0005

In [109]:
#3번

In [556]:
df_q3=df.copy()
df_q3

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,6682-VCIXC,Female,0,Yes,Yes,43,No,No phone service,DSL,Yes,...,No,Yes,Yes,No,One year,Yes,Bank transfer (automatic),51.25,2151.60,No
1,2486-WYVVE,Male,0,Yes,No,31,Yes,Yes,DSL,No,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,79.30,2484.00,No
2,4554-YGZIH,Male,1,Yes,No,49,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,No,Credit card (automatic),90.05,4547.25,Yes
3,5405-ZMYXQ,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),74.60,548.90,No
4,5032-MIYKT,Female,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,70.70,70.70,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6460,0013-MHZWF,Female,0,No,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,No
6461,7654-YWJUF,Male,0,Yes,No,43,Yes,No,Fiber optic,Yes,...,Yes,Yes,No,No,One year,Yes,Bank transfer (automatic),84.25,3539.25,No
6462,7643-RCHXS,Female,0,Yes,Yes,63,Yes,No,No,No internet service,...,Yes,Yes,No internet service,No internet service,Two year,No,Electronic check,19.35,1263.85,No
6463,1228-ZLNBX,Male,0,No,No,21,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Mailed check,75.30,1570.70,No
6464,7136-RVDTZ,Male,1,No,No,70,No,No phone service,DSL,No,...,No,No,Yes,Yes,One year,Yes,Electronic check,45.25,3264.45,Yes

In [558]:
df_q3_x=pd.DataFrame()

In [560]:
df_q3["Churn"].unique()

array(['No', 'Yes'], dtype=object)

In [562]:
df_q3_x["SeniorCitizen"]=df_q3["SeniorCitizen"]
df_q3_x["Partner"]=np.where(df_q3["Partner"]=="Yes",1,0)
df_q3_x["Dependents"]=np.where(df_q3["Dependents"]=="Yes",1,0)
df_q3_x["tenure"]=df_q3["tenure"]
df_q3_x["MonthlyCharges"]=df_q3["MonthlyCharges"]
df_q3_x["TotalCharges"]=df_q3["TotalCharges"]
df_q3_x["OnlineSecurity"]=df_q3["OnlineSecurity"].replace({"Yes":1,"No":0})
df_q3_x["OnlineSecurity"]=np.where((df_q3_x["OnlineSecurity"]!=0)&(df_q3_x["OnlineSecurity"]!=1),-1,df_q3_x["OnlineSecurity"])
df_q3_x["OnlineBackup"]=df_q3["OnlineBackup"].replace({"Yes":1,"No":0})
df_q3_x["OnlineBackup"]=np.where((df_q3_x["OnlineBackup"]!=0)&(df_q3_x["OnlineBackup"]!=1),-1,df_q3_x["OnlineBackup"])
df_q3_x["DeviceProtection"]=df_q3["DeviceProtection"].replace({"Yes":1,"No":0})
df_q3_x["DeviceProtection"]=np.where((df_q3_x["DeviceProtection"]!=0)&(df_q3_x["DeviceProtection"]!=1),-1,df_q3_x["DeviceProtection"])
df_q3_x["TechSupport"]=df_q3["TechSupport"].replace({"Yes":1,"No":0})
df_q3_x["TechSupport"]=np.where((df_q3_x["TechSupport"]!=0)&(df_q3_x["TechSupport"]!=1),-1,df_q3_x["TechSupport"])
df_q3_x["StreamingMovies"]=df_q3["StreamingMovies"].replace({"Yes":1,"No":0})
df_q3_x["StreamingMovies"]=np.where((df_q3_x["StreamingMovies"]!=0)&(df_q3_x["StreamingMovies"]!=1),-1,df_q3_x["StreamingMovies"])
df_q3_x["PaperlessBilling"]=df_q3["PaperlessBilling"].replace({"Yes":1,"No":0})
df_q3_x

/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/4015307779.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q3_x["PaperlessBilling"]=df_q3["PaperlessBilling"].replace({"Yes":1,"No":0})

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,0,1,1,43,51.25,2151.60,1,1,0,1,0,1
1,0,1,0,31,79.30,2484.00,0,0,1,1,1,1
2,1,1,0,49,90.05,4547.25,0,1,0,0,1,0
3,0,0,0,8,74.60,548.90,0,0,0,0,0,1
4,0,0,0,1,70.70,70.70,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6460,0,0,1,9,69.40,571.45,0,0,0,1,1,1
6461,0,1,0,43,84.25,3539.25,1,0,1,1,0,1
6462,0,1,1,63,19.35,1263.85,-1,-1,1,1,-1,0
6463,0,0,0,21,75.30,1570.70,0,0,0,0,0,0
6464,1,0,0,70,45.25,3264.45,0,0,0,0,1,1

In [564]:
from sklearn.preprocessing import MinMaxScaler

In [567]:
df_q3_x["Churn"]=df_q3["Churn"].replace({"Yes":1,"No":0})

/var/folders/t9/y84rdg_5045b8tqdpl1lvjqw0000gn/T/ipykernel_40572/1657438218.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_q3_x["Churn"]=df_q3["Churn"].replace({"Yes":1,"No":0})

In [569]:
df_q3_x["customerID"]=df_q3["customerID"].str[0:4].astype("int")
train_x=df_q3_x.loc[df_q3_x["customerID"]%4!=0]
test_x=df_q3_x.loc[df_q3_x["customerID"]%4==0]
train_x=train_x.drop(columns="customerID")
test_x=test_x.drop(columns="customerID")
train_x.shape, test_x.shape

((4832, 13), (1633, 13))

In [571]:
train_xx=train_x.iloc[:,:-1]
test_xx=test_x.iloc[:,:-1]

In [573]:
mmScaler = MinMaxScaler().fit(train_xx)
train_xx=pd.DataFrame(mmScaler.transform(train_xx),columns=train_xx.columns)
test_xx=pd.DataFrame(mmScaler.transform(test_xx),columns=test_xx.columns)

In [575]:
model_lr=LogisticRegression(random_state=123)
out_lr=model_lr.fit(X=train_xx,y=train_x["Churn"])

pred=out_lr.predict(X=test_xx)

f1_score(y_true=test_x["Churn"], y_pred=pred)

0.5832290362953693